<nav class="drink-nav">
  <h1>
    <%= link_to cocktails_path do %>
      <i class="far fa-arrow-alt-circle-left"></i>
    <% end %>
  </h1>
  <h1 class="new">
    <%= link_to new_cocktail_path do %>
      <i class="fas fa-cocktail"></i>
    <% end %>
  </h1>
</nav>
