<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('https://images.pexels.com/photos/274192/pexels-photo-274192.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')">
  <div id="home-discover">
    <%= link_to 'Discover cocktails', cocktails_path%>
  </div>
</div>
