<div class="banner" style="background-image: linear-gradient(to left, rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('https://images.pexels.com/photos/3566120/pexels-photo-3566120.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260')">
  <div class="container">
    <div id=index-header>
      <h2>All cocktails</h2>
      <h1 class="new">
        <%= link_to new_cocktail_path do %>
          <i class="fas fa-cocktail"></i>
        <% end %>
      </h1>
    </div>
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-4">
          <div class="card text-center">
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </div>
        </div>
      <% end %>
    </div>
    <hr>
  </div>
</div>

<!--   <form action="/cocktails">
    <input type="text" name="query" value="<%#=params[:query]%>" >
    <input type="submit">
  </form>
 -->
  <%# if params[:query] %>
    <%# @cocktails = Cocktail.where("name LIKE '%#{params[:query]}%'")%>
  <%# end %>
