<%= render 'navbar' %>
  <div class="container-show">
    <div class="cards">
      <div class="row">
        <% @cocktails.each do |cocktail| %>
          <div class="col-4">
            <div class="card text-center">
              <%= link_to cocktail.name, cocktail_path(cocktail) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!--   <form action="/cocktails">
    <input type="text" name="query" value="<%#=params[:query]%>" >
    <input type="submit">
  </form>
 -->
  <%# if params[:query] %>
    <%# @cocktails = Cocktail.where("name LIKE '%#{params[:query]}%'")%>
  <%# end %>
