.show-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  color: white;
  a{
    color: white;
    font-size: 16px;
  }
}

.drink-banner{
  padding: 0 5%;
}

.ingredients{
  h5{
    color: yellow;
  }
}

#black{
  background-color: rgba(15, 15, 15, 1);
  height: 100vh;
  margin: auto;
  overflow-y: scroll;
  padding-top: 70px;
}
