.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.drink-nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  a{
    color: yellow;
    font-size: 32px;
  }
  a:hover{
    color: white;
    font-size: 34px;
    opacity: 0.9;
  }
}
