.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.drink-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 40px;
  height: 80px;
  background-color: rgb(15,10,10);
  margin: 0;
  a{
    color: white;
    font-size: 40px;
  }
  a:hover{
    color: rgb(233,65,85);
    font-size: 45px;
    opacity: 0.9;
  }
}
