// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cards{
  margin: 0 auto;
  width: 90%;
}
h2{
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  padding-top: 20px;
  text-decoration: none;
  color: white;
}

p, h5 {
  color: white;
}

.drink-page{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.banner{
  height: 100vh;
  margin: auto;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-discover{
  a{
    border: 2px solid yellow;
    border-radius: 5px;
    opacity: 0.9;
    padding: 18px 90px;
    text-decoration: none;
    color: yellow;
    font-size: 18px;
  }
  a:hover{
    font-size: 19px;
  }
}

.container-show{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://images.pexels.com/photos/274192/pexels-photo-274192.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  height: 100vh;
  margin: auto;
}


